In [ ]:
# print 0 to 20 by using range

In [1]:
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
# print range 10 to 20

In [2]:
for num in range(10,20):
    print(num,end=' ')

10 11 12 13 14 15 16 17 18 19

In [ ]:
# Print number of items in the list by using 'len'

In [3]:

List=[10, 20, 14, 55, 43, 87, 76]
print(List)


print("Number of item in the List2:")
print(len(List))

[10, 20, 14, 55, 43, 87, 76]
Number of item in the List2:
7

In [4]:
name=("Artificial Intelligence")
print(name)
print(*name,sep='\n')

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [10]:
print("-Your Name-\n-Your Age-\n-Your Profession-")

-Your Name-
-Your Age-
-Your Profession-

In [ ]:
# Print this mixered datatype using Tuples

In [75]:
Tuples = (1, 'Welcome', 2, 'Hope')
print(Tuples)

(1, 'Welcome', 2, 'Hope')

In [37]:
Tuple1 = (0, 1, 2, 3)
Tuple2 = ('python', 'HOPE')
Tuple3 = (Tuple1, Tuple2)
print(Tuple3)

((0, 1, 2, 3), ('python', 'HOPE'))

In [ ]:
# print Odd Numbers in the list

In [2]:
lists=[20,10,16,19,25,1,276,188]
print(tuple(lists))
for Num in lists:
    if((Num%2)!=0):
        print(Num,'is odd')

(20, 10, 16, 19, 25, 1, 276, 188)
19 is odd
25 is odd
1 is odd

In [71]:
# print Even numbers in the list

In [74]:
lists=[20,10,16,19,25,1,276,188]
print(tuple(lists))
for Num in lists:
    if((Num%2)==0):
        print(Num,'is even')

(20, 10, 16, 19, 25, 1, 276, 188)
20 is even
10 is even
16 is even
276 is even
188 is even